<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi</h3>
    <p>
      You got invitation to help and manage the Update Form "<%= @update_form.name %>" from 
      "<%= @update_form.user.email %>".<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= root_url %>
    </p><br/>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
