<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="notification text-center container alert alert-<%= name == "notice" ? "success" : "danger" %>" >
      <%= content_tag :div, msg.html_safe, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>


