<% if false %>
<footer id="main-footer">
  <div class="pull-left">
    &copy;
    <script type="text/javascript">document.write((new Date()).getFullYear());</script>
    slick-updates.com
  </div>
</footer><!-- end #main-footer -->
<% end %>
